# Code files
# #####################################################################################################################
[*.{cs}]

# STYLING RULES
# #####################################################################################################################

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1413.severity = none

dotnet_diagnostic.SA1629.severity = none

dotnet_diagnostic.SA1633.severity = none
